{% extends 'index/base.html' %}
{% block content %}

<div class="pricing-header px-1 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><strong>YouRank</strong></h1>
  <p class="lead"> Tired of Searching Best Youtube Videos Around? Here's the Solution.<br> Rank youtube videos effectively using the overall sentimental analysis of its comments that we built for you.</p>

<div class="container">
    <div class="card mb-4 shadow-sm " style="width: 40rem;">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Link-1</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">1st Link <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-10 mb-1">
            <div class="form-group">
                <label for="exampleInputEmail1">Paste the first link here </label>
                <svg class="bi bi-arrow-down-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                  </svg>
                <input type="text" name="link1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm" style="width: 40rem;">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Link-2</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">2nd Link <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <div class="form-group">
                <label >Paste the Second link here</label>
                <svg class="bi bi-arrow-down-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                  </svg>
                <input type="text" name="link2" class="form-control" aria-describedby="emailHelp">
              </div>
        </ul>
        
      </div>
    </div>
    <div class="card mb-4 shadow-sm" style="width: 40rem;">
      <div class="card-header w-200">
        <h4 class="my-0 font-weight-normal">Link-3</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">3rd Link <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Paste the Third link here</label>
                <svg class="bi bi-arrow-down-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                  </svg>
                <input type="text" name="link3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
        </ul> 
    </div>
    </div>
    
  </div>
  <div class="container">
  <input type="submit" class="container btn btn-outline-success btn-block btn-lg w-75" value="Rank">
</form>

{% for key,value in data %}
        {{value}}
        {% endfor %}
  </div>

    
{% endblock %}
  