{% extends 'index/base.html' %}
{% block content %}

<div class="text-center">
  <h1 class="display-4"><strong>Your Videos In Order Are Here</strong></h1>

  <div class="alert alert-success" role="alert">
    Congratulations! You're Videos has been ranked successfully
  </div>

<div class="container">
    {% for key,value in data %}
    <div class="alert alert-dark" role="alert">
      <a href={{value}} class="alert-link">{{value}}</a>. Give it a click if you like.
      </div>

        <br>
        {% endfor %}
  </div>

    

 {% endblock %}